<!-- Main -->
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">

      <%= render "articles/sidebar_left" %>

      <div class="col-6 col-12-narrower imp-narrower">
        <div id="content">

          <!-- Content -->

          <article>
            <header>
              <h2>Dlaczego warto śledzić swój nastrój?</h2>
            </header>


            <p>Codziennie doświadczamy wielu emocji — od euforii po smutek, od spokoju po stres. Ale czy potrafisz
              powiedzieć, dlaczego tak naprawdę czujesz się tak, a nie inaczej? Czy wiesz, jak często to się powtarza?
              Jak wpływa to na Twoje relacje, pracę, sen?</p>
            <p>Właśnie tutaj z pomocą przychodzi śledzenie nastroju.</p>

            <h3>Co to daje?</h3>
            <p>1. Większa samoświadomość</p>
            <p>Regularne notowanie swojego nastroju pomaga zrozumieć, co wpływa na Twoje emocje — ludzie, sytuacje,
              pory dnia, a nawet pogoda. To pierwszy krok do świadomego życia.</p>
            <p>2. Lepsze zarządzanie stresem</p>
            <p>Gdy zauważysz, co wywołuje stres lub złe samopoczucie, łatwiej nauczysz się unikać tych sytuacji albo
              reagować na nie z większym spokojem.</p>
            <p>3. Wsparcie terapeutyczne</p>
            <p>Jeśli korzystasz z pomocy psychologa lub psychiatry, regularny dziennik nastrojów to skarb. Dzięki niemu
              terapeuta może szybciej dostrzec wzorce i dobrać lepsze metody leczenia lub pracy nad sobą.</p>
            <p>4. Motywacja do dbania o siebie</p>
            <p>Widząc na wykresach, że pewne działania (np. spacer, medytacja, rozmowa z kimś bliskim) realnie
              poprawiają nastrój, jesteśmy bardziej skłonni je powtarzać.</p>

            <h3>Jak zacząć?</h3>
            <p>Nie potrzebujesz niczego skomplikowanego. Wystarczy:</p>
            <p>- 2 minuty dziennie,</p>
            <p>- aplikacja taka jak EchoMood (😉),</p>
            <p>- chęć zadbania o siebie.</p>
            <p>Zacznij od prostego pytania:</p>
            <p>„Jak się dziś czuję?”</p>
            <p>I dopisz krótką notatkę — co się wydarzyło, jak reagowałeś, czy był jakiś powód.</p>

            <h3>Na koniec</h3>
            <p>Pamiętaj, że Twoje emocje są ważne. Zamiast je ignorować — zaprzyjaźnij się z nimi.
              Dzięki prostemu narzędziu, jakim jest dziennik nastroju, możesz zbudować lepszą relację… ze sobą.</p>
          </article>



        </div>
      </div>

      <%= render "articles/sidebar_right" %>

    </div>
  </div>
</section>

