<!-- Main -->
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">

      <%= render "articles/sidebar_left" %>

      <div class="col-6 col-12-narrower imp-narrower">
        <div id="content">

          <!-- Content -->

          <article>
            <header>
              <h2>Cisza i oddech – jak medytacja zmienia Twój nastrój? 🧘‍♂️</h2>
            </header>

            <p>W świecie pełnym powiadomień, pośpiechu i wiecznego „muszę”, odnalezienie chwili ciszy może być aktem
              odwagi. Medytacja nie jest już domeną mnichów w górach — to realne, proste narzędzie dostępne dla
              każdego z nas.</p>


            <h2>Oddech: Twój wewnętrzny regulator</h2>

            <p>Kiedy jesteś zestresowany, oddychasz płytko. Twój układ nerwowy przełącza się w tryb „walcz albo
              uciekaj”. Ale...</p>
            <p>Gdy zaczniesz świadomie oddychać głęboko i spokojnie, wysyłasz swojemu ciału sygnał: „Jest bezpiecznie.
              Możesz się rozluźnić.”</p>
            <p>To nie magia — to biologia.</p>


            <h2>Co daje regularna medytacja?</h2>


            <h6>✨ Mniejszy poziom stresu i lęku</h6>
            <p>Badania pokazują, że nawet 10 minut dziennie może znacząco obniżyć poziom kortyzolu — hormonu stresu.</p>

            <h6>✨ Większa uważność i spokój</h6>
            <p>Zamiast reagować impulsywnie, zaczynasz zauważać swoje emocje. To jak zrobienie pauzy przed
              odpowiedzią.</p>

            <h6>✨ Poprawa koncentracji i pamięci</h6>
            <p>Mózg medytującej osoby zmienia się — rośnie aktywność w obszarach odpowiedzialnych za skupienie i
              samoregulację.</p>

            <h6>✨ Lepsze radzenie sobie z emocjami</h6>
            <p>Medytacja nie sprawia, że znikają problemy. Ale pozwala Ci je zobaczyć z większego dystansu.</p>


            <h2>Jak zacząć? 💡</h2>
            <p>Nie potrzebujesz maty, świec ani dzwonków. Możesz zacząć tu i teraz.</p>
            <p>🔸 Zamknij oczy na 2 minuty</p>
            <p>🔸 Skup się tylko na wdechu i wydechu</p>
            <p>🔸 Gdy myśli przyjdą — zauważ je, ale nie oceniaj</p>
            <p>🔸 Wróć do oddechu</p>
            <p>To wszystko. Serio.</p>

            <h2>EchoMood 🌀 wspiera Twój spokój </h2>
            <p>W naszej aplikacji znajdziesz:</p>
            <p>🧘‍♀️ Proste ćwiczenia oddechowe</p>
            <p>📓 Możliwość zapisania, jak się czułeś przed i po</p>
            <p>📊 Historię i raporty, które pokażą Twój rozwój</p>

            <h2>Oddech. Cisza. Obecność. 🕊️</h2>
            <p>To nie chwilowa moda. To sposób na to, by żyć bardziej świadomie, spokojnie i w zgodzie ze sobą.
              Nie potrzebujesz niczego więcej. Masz już wszystko w sobie. Oddychaj. 🌿</p>
          </article>



        </div>
      </div>

      <%= render "articles/sidebar_right" %>

    </div>
  </div>
</section>

