<!-- Main -->
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">

      <%= render "articles/sidebar_left" %>

      <div class="col-6 col-12-narrower imp-narrower">
        <div id="content">

          <!-- Content -->

          <article>
            <header>
              <h2>Metody śledzenia emocji</h2>
              <p>Wprowadzenie</p>
            </header>


            <p>Istnieje wiele metod emotion trackingu, które różnią się podejściem i narzędziami. Wybór metody zależy
              od Twoich preferencji, dostępnych urządzeń i celów, które chcesz osiągnąć. Poniżej omawiamy
              najpopularniejsze metody stosowane przez użytkowników oraz specjalistów.</p>

            <h3>Metody Samodzielnego Śledzenia Nastroju</h3>
            <p>Dziennik emocji: Ręczne zapisywanie uczuć, myśli i sytuacji, które je wywołały. To najprostsza metoda,
              którą można stosować codziennie.</p>
            <p>Skale nastroju: Użytkownik ocenia swój nastrój w skali (np. od 1 do 5) lub wybiera emotikony, co
              pozwala na szybki przegląd zmian w czasie.</p>

            <p>Wybór metody emotion trackingu zależy od Twoich celów i preferencji.</p>
          </article>



        </div>
      </div>

      <%= render "articles/sidebar_right" %>

    </div>
  </div>
</section>

