<!-- Main -->
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">

      <%= render "articles/sidebar_left" %>

      <div class="col-6 col-12-narrower imp-narrower">
        <div id="content">

          <!-- Content -->

          <article>
            <header>
              <h2>Methods of Tracking Emotions</h2>
              <p>Introduction</p>
            </header>

            <p>There are many emotion tracking methods that vary in approach and tools used. The right method for you depends on your preferences, available devices, and the goals you want to achieve. Below, we discuss the most popular methods used by individuals and professionals.</p>

            <h3>Self-Tracking Mood Methods</h3>
            <p>Emotion journal: Manually writing down your feelings, thoughts, and the situations that triggered them. This is the simplest method, and it can be practiced daily.</p>
            <p>Mood scales: Users rate their mood on a scale (e.g., from 1 to 5) or select emoticons, which allows for a quick overview of changes over time.</p>

            <p>The choice of emotion tracking method depends on your goals and personal preferences.</p>
          </article>

        </div>
      </div>

      <%= render "articles/sidebar_right" %>

    </div>
  </div>
</section>
