<!-- Main -->
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">

      <%= render "articles/sidebar_left" %>

      <div class="col-6 col-12-narrower imp-narrower">
        <div id="content">

          <!-- Content -->

          <article>
            <header>
              <h2>Ruch to lekarstwo: Jak aktywność fizyczna wpływa na Twój nastrój?</h2>
            </header>


            <p>W świecie, który pędzi coraz szybciej, zapominamy o jednym z najprostszych sposobów dbania o swoje
              zdrowie psychiczne — ruchu. A to właśnie regularna aktywność fizyczna może być kluczem do
              lepszego samopoczucia.</p>


            <h2>Co dzieje się z Twoim mózgiem, gdy się ruszasz?</h2>

            <h6>Endorfiny — naturalne hormony szczęścia</h6>
            <p>Już po 20 minutach umiarkowanego wysiłku fizycznego, Twój mózg zaczyna produkować endorfiny, które
              działają jak naturalne antydepresanty.</p>

            <h6>Lepszy sen</h6>
            <p>Ruch reguluje rytm dobowy, dzięki czemu łatwiej zasypiasz i śpisz głębiej. A lepszy sen = lepszy
              nastrój.</p>

            <h6>Więcej energii i motywacji</h6>
            <p>Regularne ćwiczenia zwiększają poziom energii w ciągu dnia i poprawiają koncentrację.</p>

            <h6>Redukcja stresu i napięcia</h6>
            <p>Fizyczne zmęczenie pomaga rozładować emocje. Bieganie, joga, rower — każdy ruch działa jak „reset” dla
              Twojego układu nerwowego.</p>

            <h2>Nie musisz od razu iść na siłownię</h2>

            <p>To nie o to chodzi, żebyś biegał maratony (chyba że chcesz!). Chodzi o ruch dostosowany do Ciebie i
              Twoich możliwości.</p>
            <p>🔹 Spacer po pracy</p>
            <p>🔹 Rozciąganie przy muzyce</p>
            <p>🔹 Krótka sesja jogi z YouTube</p>
            <p>🔹 Taniec w kuchni!</p>
            <p>🔹 10 pompek i przysiady między zadaniami</p>
            <p>Ważne jest to, żeby zacząć, nawet od kilku minut dziennie.</p>

            <h2>W EchoMood możesz:</h2>
            <h6>Dodać ćwiczenie do swojego dziennika nastroju</h6>
            <h6>Zobaczyć, jak wpływa na Twój stan psychiczny</h6>
            <h6>Motywować się dzięki wizualnym raportom postępów</h6>

            <h2>Mały krok. Wielki wpływ.</h2>
            <p>Ruch to coś więcej niż tylko kwestia sylwetki — to forma dbania o siebie.</p>
            <p>Niech Twoje ciało i umysł znów zaczną działać razem.</p>
          </article>



        </div>
      </div>

      <%= render "articles/sidebar_right" %>

    </div>
  </div>
</section>

