<% if suggestion = session.delete(:ai_suggestion) %>
  <div class="ai-suggestion-box">
    <div class="suggestion-content">
      <i class="icon fa-lightbulb"></i>
      <p><%= suggestion %></p>
    </div>
    <% if suggestion.include?("oddech") || suggestion.include?("Medytacja") %>
      <%= link_to "Przejdź do ćwiczeń oddechowych", meditation_path, class: "button alt small" %>
    <% elsif suggestion.include?("artykuł") %>
      <%= link_to "Przejdź do artykułów", articles_path, class: "button alt small" %>
    <% end %>
  </div>
<% end %>