<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <section class="col-3 col-6-narrower col-12-mobilep">
        <h3>Links</h3>
        <ul class="links">
          <li><a href="https://pg.edu.pl">Gdansk University of Technology</a></li>
          <li><a href="https://eti.pg.edu.pl">Faculty of Electronics, Telecommunications and Computer Science</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
        </ul>
      </section>
      <section class="col-3 col-6-narrower col-12-mobilep">
        <h3>Links</h3>
        <ul class="links">
          <li><a href="https://pacjent.gov.pl/zapobiegaj/zadbaj-o-swoje-zdrowie-psychiczne">Ministry of Health and the National Health Fund</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
          <li><a href="#">TBA</a></li>
        </ul>
      </section>
      <section class="col-6 col-12-narrower">
        <h3>Get In Touch</h3>
        <form>
          <div class="row gtr-50">
            <div class="col-6 col-12-mobilep">
              <input type="text" name="name" id="name" placeholder="Name"/>
            </div>
            <div class="col-6 col-12-mobilep">
              <input type="email" name="email" id="email" placeholder="Email"/>
            </div>
            <div class="col-12">
              <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
            </div>
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" class="button alt" value="Send Message"/></li>
              </ul>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
      <li>&copy; Damian Cichosz. All rights reserved</li>
      <li>Design: <a href="https://github.com/dvnDC">Damian Cichosz GitHub</a></li>
    </ul>
  </div>
</div>