<div class="emotion-entry-form-container">
  <h1>New Emotion Entry</h1>

  <%= render 'form', emotion_entry: @emotion_entry %>

  <div class="back-link">
    <%= link_to 'Back', emotion_entries_path, class: 'button secondary' %>
  </div>
</div>