<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">

      <h1>Create a New Mood Entry</h1>

      <div class="col-6 col-12-narrower imp-narrower">
        <div id="content">


      <%= render 'form' %>

        </div>
      </div>


    </div>
  </div>
</section>