<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-12">
        <div id="content">
          <article>
            <header>
              <h2>Medytacja</h2>
              <p>Znajdź spokój i równowagę emocjonalną</p>
            </header>

            <p>
              Medytacja to potężne narzędzie do zarządzania emocjami i poprawy samopoczucia.
              Regularna praktyka medytacji może pomóc w:
            </p>

            <ul>
              <li>Redukcji stresu i niepokoju</li>
              <li>Poprawie koncentracji</li>
              <li>Lepszym rozumieniu własnych emocji</li>
              <li>Budowaniu odporności psychicznej</li>
              <li>Poprawie jakości snu</li>
            </ul>

            <h3>Rozpocznij medytację teraz</h3>
            <p>TODO!!!!!!!!!!!! DO OPISU FILMU MEDYTACJI PROWADZONEJ@@@@@@@@@@@
              Poniżej znajdziesz medytację prowadzoną, która pomoże Ci się zrelaksować i skupić na chwili obecnej.
              Znajdź spokojne miejsce, usiądź wygodnie i pozwól sobie na chwilę relaksu.
            </p>
            <p>TODO!!!!!!!!!!!! DO OPISU FILMU MEDYTACJI PASYWNEJ@@@@@@@@@@@
              Poniżej znajdziesz nagranie, które pomoże Ci się zrelaksować i skupić na chwili obecnej.
              Znajdź spokojne miejsce, usiądź wygodnie i pozwól sobie na chwilę relaksu.
            </p>

            <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
              <iframe
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 8px;"
                src="https://www.youtube.com/embed/_YGhdeE-1IY?controls=0&rel=0&modestbranding=1&showinfo=0"
                title="Meditation video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>

            <h3>Wskazówki do medytacji</h3>
            <p>
              1. Rozpocznij od krótkich sesji (5-10 minut)
              <br>
              2. Znajdź spokojne miejsce, gdzie nikt nie będzie Ci przeszkadzał
              <br>
              3. Usiądź wygodnie, ale zachowaj wyprostowaną pozycję kręgosłupa
              <br>
              4. Skup się na swoim oddechu - to Twoja kotwica
              <br>
              5. Nie oceniaj siebie - rozproszenia są naturalną częścią procesu
            </p>

            <p>
              Pamiętaj, że medytacja to umiejętność, która rozwija się z czasem.
              Bądź dla siebie cierpliwy i wyrozumiały podczas swojej praktyki.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>